#container {
    display: flex;
    height: 500px;
    justify-content: center;
}

.form {
    border: solid 1px #dadada;
    padding-bottom: 10px;
    display: flex;
    align-self: center;
    flex-direction: column;
    min-width: 300px;
}

label, input {
    margin: 10px;
}

button {
    align-self: center;
}