.video-feed {
  width: 1000px;
  height: 500px;
  display: grid;
  grid-template-rows: [rvs-start] 70% [rvs-end lvs-start] 20% [lvs-end] 10%;
  grid-template-columns: [rvs-start] 34% [rvs-end ctrl-start] 30% [ctrl-end lvs-start] 36%;
  background: black;
}

#local-video {
  grid-column: lvs-start;
  grid-row: lvs-start / 4;
  background: white;
}

#remote-video {
  background: green;
  grid-row: 1/4;
  grid-column: 1/4;
}
