.controls-wrapper {
  z-index: 2;
  grid-column: ctrl-start;
  grid-row: 3;
}
.controls {
  display: flex;
  width: 300px;
  border-radius: 5px;
  justify-content: center;
  align-self: center;
  margin-top: 3%;
}

.gap {
  width: 80px;
  background: #cccccc;
}

.hide {
  visibility: hidden;
}